<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= quiz.title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- -->
    <style type="text/css" media="all">
      div.quiz, p.comment, div.explanation {display:inline;}
      strong.correct {color:#14B63F;}
      strong.incorrect {color:rgb(255,0,0);}
      strong.mark {color:rgb(255,128,0);}
      input.correct {color:#14B63F; font-weight: bold;}
      input.incorrect {color:rgb(255,0,0); font-weight: bold;}
      div.custom-header {background-color:#7a3b7a; color:#FFFFFF; font-weight: bold;}
      body {padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;}
      html {position: relative; min-height: 100%;}
      .navbar {margin-bottom: 20px;}
      .btn-footer {text-align: center;}
      #footer {
        position: absolute;
        bottom: 0;
        height: 30px;
        width: inherit;
      }
      div.container {background-color:#EAEAEA;}
      p.comment, div.explanation {font-style: italic;}
      .links {
        display: inline; 
        padding-right:5px;
      }
      a.links:hover {color: #FFCCFF;}
    </style>
    <link rel="icon" type="image/x-icon" href="favicon.ico"·/>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
  </head>
  <body>
    <div class="container">
      <% if (quiz.get_header)%>
          <h3><%= quiz.title %></h3>
          <%= quiz.get_header %>
          <br></br>
      <% else %>
        <div class="navbar navbar-default custom-header">
          <div class="navbar-header">
            <h3><%= quiz.title %></h3>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>Asignatura: PROCESADORES DE LENGUAJES</li><br/>
              <li>Curso: 3º</li><br/>
              <li>
                  Escuela T&eacute;cnica Superior de Ingenier&iacute;a Inform&aacute;tica
                  </li><br/>
              <li>Universidad de la Laguna </li>
            </ul>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <% if (quiz.get_footer) %>
        <%= quiz.get_footer %>
        <br></br>
      <% else %>
        <div id="footer">
          <div class="row text-muted">
            <div class="col-md-6">
              Quiz generated using the RuQL Gem. For more information, visit <a href="https://github.com/jjlabrador/ruql">GitHub
              <span class="glyphicon glyphicon-link"></span></a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              Universidad de La Laguna <% date = Time.new %><%= date.year %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!--[if lt IE 8]>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <![endif]-->
    <script><%= @validation_js %></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- -->
  </body>
</html>
